.contenido{
    width: 100%;
    display: flex;
    justify-content: center;
}
  
.conboton{
    width: 50%;
    display: flex;
    flex-direction: column;
}
  
.fila1{
    margin-bottom: 40px;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  
.fila3{
    margin-top: 20px;
    height: 15%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btnadicion{
    background-color: blue;
    color: white;
    border-radius: 3px;
    height: 45px;
    margin-top: 15px;
    font-size: 45px;
}
  
.btneliminar{
    border: 1px solid red;
    color: red;
    border-radius: 3px;
    height: 30px;
    margin-top: 15px;
}
  

.btnguardar{
    border: 1px solid green;
    color: green;
    border-radius: 3px;
    height: 45px;
}
  
.btnlimpiar{
    border: 1px rgb(172, 172, 236) solid;
    color: rgb(107, 107, 184);
    border-radius: 3px;
    height: 45px;
}
  
.contenido1{
    margin: 10px;
    width: 90%;
    height: 100px;
    border: 1px silver;
    border-style: dotted;
    flex-direction: row;
}
  
.btneliminar22{
    background-color: red;
    color: white;
    border-radius: 3px;
    padding-right: 5px;
    background-color: aqua;
}
  
.caja{
    margin-bottom: 30px;
}
  
.input{
      width: 25%;
}

.click{
    display: inline;
    width: 10%;
}